.selectBox{
    background-color: #343a40;
    color: #fff;
    border: 0px;
    padding-right: 10px;
    margin-right: 10px;
}
.sortBox{
    display: flex;
    padding-right: 30px;
    color: rgb(199, 179, 179);
    margin-right: 20px;

}
.icons-box{
    padding-right: 30px;
    -ms-transform: rotate(20deg);
    transform: rotate(180deg);
}

